/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
rec {
  padding: 60px 0;
}


.rec-title {
  text-align: center;
  padding-bottom: 30px;
}

.rec-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.rec-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.rec-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #006fbe;
  bottom: 0;
  left: calc(50% - 20px);
}

.rec-title p {
  margin-bottom: 0;
}






/*--------------------------------------------------------------
# Recent Photos
--------------------------------------------------------------*/
.recent-photos {
  overflow: hidden;
}

.recent-photos .owl-nav, .recent-photos .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.recent-photos .owl-item {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.recent-photos .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #95d3ff !important;
}

.recent-photos .owl-dot.active {
  background-color: #006fbe !important;
}

.recent-photos .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

.recent-photos .gallery-carousel .center {
  border: 6px solid #006fbe;
  margin: -10px;
  box-sizing: content-box;
  padding: 4px;
  background: #fff;
  z-index: 1;
}